[Unit]
Description=Server Monitor Linux Host Collector Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/server-monitor/server-monitor
ExecStart=/opt/server-monitor/venv/bin/python -m agent.main --interval 10
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
